<h1>List Of All Teachers</h1>
<ul>
    {% for teacher in teacher_list %}
    <li>
        <a href="/classroom/teacher_detail/{{teacher.id}}">{{teacher.first_name}} {{teacher.last_name}}</a>
    </li>
    <ul>
        <li>
            <a href="/classroom/teacher_update/{{teacher.id}}">Update Information For {{teacher.first_name}}</a>
        </li>
        <li>
            <a href="/classroom/delete_teacher/{{teacher.id}}">Delete {{teacher.first_name}}</a>
        </li>
    </ul>
    {% endfor %}
</ul>